{% extends "layout.html" %}
{% block content %}
	<h1>Sleep Data Project</h1>
		<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            	<a class="mr-2" href="#">Abhishek</a>
              	<small class="text-muted">26th May, 2019</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('sleepproject') }}">Health Data Project</a></h2>
            <p class="article-content">Health Data Project Contents</p>
        </div>
		</article>
{% endblock	content %}
